@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Dosis;
  src: url('../font/Dosis-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}