body {
  font-family: 'Dosis', sans-serif;
  background-color: $white;
}

.home {
  position: relative;
  height: 100vh;
  background-color: $navy-blue;

  h2 {
    font-size: 96px;
    font-weight: 500;
    color: $white;
    text-align: center;
  }

  h2:first-child {
    font-weight: bold;
  }

  .content {
    height: 100%;
  }

  nav {
    position: absolute !important;
    top: 0px;
    left: auto;
    right: auto;
    height: 100px;
    width: 100%;

    .nav {
      &-item {
        width: 100px;
      }

      &-link {
        font-size: 22px;
        font-weight: bold;
        color: $white;
        text-align: center;
        transition: all .3s ease-in-out;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}

.about-me {
  padding-top: 20vh;
  height: 100vh;
  background-color: $white;
  color: $navy-blue;

  h1 {
    font-size: 84px;
    font-weight: 500;
  }

  .summary {
    font-size: 32px;
    margin-bottom: 23px;
  }

  p {
    font-size: 22px;
  }

  img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    transition: all .3s ease-in-out;

    &:hover {
      transform: translateY(-20px);
      box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    }
  }
}

.skills {
  padding-top: 10vh;
  height: 100vh;
  background-color: $light-gray;
  color: $light-blue;
  text-align: center;

  h1 {
    font-size: 72px;
    font-weight: 500;
  }

  p {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .logo {
    margin-bottom: 20px;
    padding: 15px 0px;
    border-radius: 15px;
    transition: all .3s ease-in-out;

    .image-fit {
      display: flex;
      height: 80px;
      width: 100%;
      text-align: center;
      vertical-align: middle;

      img {
        max-width: 70%;
        max-height: 80px;
        display: block;
        margin: auto;
        filter: grayscale(100%);
        transition: all .3s ease-in-out;
      }
    }

    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, .3), 0 10px 30px rgba(0, 0, 0, .15);

      img {
        filter: grayscale(0%);
      }
    }
  }
}

.contact {
  margin-bottom: 80px;
  padding: 10vh 0;
  background-color: $light-blue;
  color: $white;
  text-align: center;

  h1 {
    font-size: 72px;
    font-weight: 500;
  }

  p {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 30px;
  }

  input, textarea, button {
    font-size: 26px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0px;
    color: $white;

    &::placeholder {
      color: $white;
    }

    &:focus {
      color: $light-blue;

      border-color: $navy-blue;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(2, 83, 179, 0.6);
    }
  }

  input, button {
    height: 50px;
  }

  textarea {
    height: 130px;
  }

  button {
    line-height: 1;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: $white;
      color: $light-blue;
    }
  }
}

footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $navy-blue;
  color: $white;
  z-index: -1;

  ul.socials {
    list-style: none;

    li {
      max-width: 42px;
      float: left;

      a {
        padding: 6px;
        display: block;

        img {
          width: 100%;
        }
      }
    }
  }

  p {
    margin-bottom: 0px;
    text-align: right;
  }
}